@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color: #f8f8f6;
  margin: 0;
}

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: blueviolet;
}
